{% extends 'base.html' %}

{% block title %}
    MyStore
{% endblock %}


{% block cat %}

<ul class="nav nav-tabs container text-center">
    <li class="nav-item">
        <a href="{% url 'index' %}" class="nav-link active" aria-current="page">
            All
        </a>
    </li>
    {% for category in categories %}
        <li class="nav-item">
            <a href="{% url 'category' category.id %}" class="nav-link active" aria-current="page">
                {{ category.name }}
            </a>
        </li>
    {% endfor %}
</ul>

{% endblock %}


{% block content %}
<br>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    
    {% for product in products %}
        
        <div class="card mr-5 d-inline-block" style="width: 18rem;">
<br>
            <img src="{{ product.image.url }}" width="100%" alt="...">

            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description|truncatewords:15 }}</p>
                <p class="card-text">Price: {{ product.price }} $</p>
                <a href="{% url 'product' product.id %}" class="btn btn-primary">View</a>
                <a href="{% url 'basket_add' product.id %}" class="btn btn-primary">Add to basket</a>
            </div>

        </div> 
    {% endfor %}
   
</div>
{% endblock %}